*.jl.cov
*.jl.*.cov
*.jl.mem
user_defaults/*
.DS_Store
docs/build/
docs/site/
deps/bin/
deps/lib/
deps/build.log
wip

deps/python2/

assets/mpirunflags\.jl

deps/mpirunflags\.jl

deps/wannier90flags\.jl

deps/qeflags\.jl

deps/abinitflags\.jl

Manifest\.toml

deps/builds/

deps/downloads/

deps/src/

deps/usr/

deps/deps\.jl

deps/spglib/

deps/elkflags\.jl
